{% extends "encyclopedia/layout.html" %}

{% block title %}
    New entry
{% endblock %}

{% block body %}

    <h1>Edit entry:</h1>
    {% if error %}
        <h4>Error: {{error}}</h4>
    {% endif %}

    <form action="{% url 'edit' entry=entry %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Entry title:</label> 
            <br>
            <input type="text" name="title" id="title-edit" readonly value="{{ entry }}">
        </div>
        <br>
        <div>
            <label for="markdown">Content:</label> 
            <br>
            <textarea required spellcheck="false" name="markdown" id="markdown" cols="10" rows="3" style="height: 250px;">{{ content }}</textarea>
        </div>
        <input class="btn" type="submit" value="Save">
    </form>

{% endblock %}