{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form action="{% url 'search' %}" method="GET">
                    <input class="search" type="text" name="q" placeholder="Wiki Search">
                </form>
                <div class="links-container">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'new' %}">Create New Page</a>
                    <a href="{% url 'entry' 'random' %}?rand=true">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <!-- FLEX GROW 1 TO COVER EXTRA SPACE -->
        <div class="fg-1"></div>

        <footer class="row">
            <p>Sofia Bracho - CS50 2023 </p>
            <a href="https://github.com/SofiaBracho">My Github</a>
        </footer>

    </body>
</html>